<h2>Componente uno</h2>
<p>Componente generado desde cli</p>
<input
  type="number"
  class="form-control"
  #inputBase
  (change)="setearBase($event)"
/>
<button class="btn btn-primary">set</button>
<button class="btn btn-primary" (click)="contador = contador + 1">
  Incrementar
</button>

<button class="btn btn-primary" (click)="contador = contador - 1">
  Decrementar
</button>
<button class="btn btn-primary" (click)="contador = 0">Resetear</button>
<div class="m-4">
  <span>{{ contador }}</span>
</div>
