<div class="row">
  <div class="col-8">
    <h2>Titulares</h2>
    <div class="row">
      <button class="btn btn-primary col" (click)="realizarFiltro('deporte')">
        Deportes
      </button>
      <button class="btn btn-primary col" (click)="realizarFiltro('politica')">
        Politica
      </button>
      <button class="btn btn-primary col" (click)="realizarFiltro('sociedad')">
        Sociedad
      </button>
      <button
        class="btn btn-primary col"
        (click)="noticiasFiltradas = noticias"
      >
        Todas
      </button>
    </div>
    <div class="row">
      @for (item of noticiasFiltradas; track $index) {
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            [src]="item.urlToImage | imagenes"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <h6>{{ item.content }}</h6>
            <h6>{{ item.publishedAt | date }}</h6>
            <div class="row">
              <a target="_blank" [href]="item.url" class="col btn btn-primary"
                >Ver noticia</a
              >
              <button class="col btn btn-primary" (click)="verDetalle(item)">
                Ver detalle
              </button>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
  <div class="col-4">
    <h2>Contenido</h2>

    @if (noticiaDetalle == null) {
    <div class="alert alert-primary" role="alert">
      No has seleccionado ninguna noticia
    </div>
    } @else {
    <div class="card" style="width: 18rem">
      <img [src]="noticiaDetalle?.urlToImage" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ noticiaDetalle?.title }}</h5>
        <h6>{{ noticiaDetalle?.content }}</h6>
        <div class="row">
          <a
            [href]="noticiaDetalle?.url"
            target="_blank"
            class="col btn btn-primary"
            >Ver noticia</a
          >
          <button class="col btn btn-primary">Ver detalle</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
