<input class="form-control" placeholder="nombre" [(ngModel)]="nombre" />
<input class="form-control" placeholder="apellido" [(ngModel)]="apellido" />
<input class="form-control" placeholder="dni" [(ngModel)]="dni" />
<input
  class="form-control"
  placeholder="conocimientos"
  [(ngModel)]="conocimientosEntrada"
/>
<select class="form-select" [(ngModel)]="asignatura">
  @for (item of asignaturas; track $index) {
  <option>{{ item.nombre }}</option>
  }
</select>
<button class="btn btn-primary" (click)="contratarProfesor()">Contratar</button>
