<div class="container m-4">
  <h1>Primera aplicación Angular</h1>
  <img [src]="imagen" style="height: 200px" />
  <p>Aplicacion creada por {{ nombre }}</p>
  <div class="row">
    <div class="col">
      <app-inicial></app-inicial>
    </div>
    <div class="col">
      <app-secundario></app-secundario>
    </div>

    <!-- 1. Crear un componente que se llame error -->
    <!-- 2. Mostrarlo como un elemento de el componente principal -->
    <!-- 3. Eliminar los ficheros asociados al componente (eliminar el componente) -->
  </div>
</div>
