<div class="container m-4">
  <div class="row justify-content-center">
    <div class="col">
      <h2>FORMULARIO DE INTRODUCCION</h2>
      <input
        [(ngModel)]="marca"
        class="mt-3 form-control"
        type="text"
        placeholder="introduce marca"
      />
      <input
        [(ngModel)]="modelo"
        class="mt-3 form-control"
        type="text"
        placeholder="introduce modelo"
      />
      <input
        [(ngModel)]="matricula"
        class="mt-3 form-control"
        type="text"
        placeholder="introduce matricula"
      />
      <input
        [(ngModel)]="precio"
        class="mt-3 form-control"
        type="number"
        placeholder="introduce precio"
      />
      <input
        [(ngModel)]="cv"
        class="mt-3 form-control"
        type="number"
        placeholder="introduce cv"
      />
      <input
        [(ngModel)]="cc"
        class="mt-3 form-control"
        type="number"
        placeholder="introduce cc"
      />
      <select class="mt-3 form-select" [(ngModel)]="motor">
        <option>Eléctrico</option>
        <option>Termico</option>
      </select>
      <select class="form-select" (change)="cambioAccesiorio(selectaccesorio.value
      
      )" #selectaccesorio >
        <option>Techo</option>
        <option>Cuero</option>
        <option>Paquete Sport</option>
        <option>Remolque</option>
        <option>Camaras</option>
      </select>
      <button class="btn btn-primary mt-3" (click)="agregarCoche()">
        Agregar
      </button>

      @if (coches.length>0) {
      <div class="mt-3 alert alert-success" role="alert">
        El numero de coches es: {{ coches.length }}
      </div>
      }
    </div>
    <div class="col">
      <h2> {{titulo | uppercase  }}</h2>
      <input [(ngModel)] = "marcaBuscar" type="text" class="form-control" placeholder="introduce marca a buscar">
      <input [(ngModel)] = "precioBuscar" type="number" class="form-control" placeholder="introduce precio mínimo">
      <button (click)="realizarBusqueda()" class="btn btn-primary">Buscar</button>
      <div class="row mt-3">
        @for (item of cochesFiltrados; track $index) {

        <div class="col">
          <div class="card" style="width: 14rem">
            <img [src]="item.getMarca | imagenesMarca" class="card-img-top" alt="..." />
            <div class="card-body">
              <h5 class="card-title">{{ item.getModelo }}</h5>
              <h5 class="card-title">{{ item.getPrecio }}</h5>
            </div>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
