<h2>NgSwitch</h2>
<p>
  La directiva estructural ngswitch permite mostrar un contenendor u otro
  dependiendo de un valor determinado
</p>

<select class="form-select">
  <option>Valor 1</option>
  <option>Valor 2</option>
  <option>Valor 3</option>
  <option>Valor 4</option>
  <option>Valor 5</option>
  <option>Valor 6</option>
  <option>Valor 7</option>
  <option>Valor 8</option>
</select>
<div [ngSwitch]="valor">
  <div *ngSwitchCase="1" class="alert alert-primary" role="alert">
    Este div se muesta con valor 1
  </div>
  <div *ngSwitchCase="2" class="alert alert-success" role="alert">
    Este div se muesta con valor2
  </div>
  <div *ngSwitchCase="3" class="alert alert-warning" role="alert">
    Este div se muesta con valor 3
  </div>
  <div *ngSwitchCase="4" class="alert alert-danger" role="alert">
    Este div se muesta con valor 4
  </div>
  <div *ngSwitchDefault class="alert alert-info">
    Este div se muesta con valor restante
  </div>
</div>
<div></div>
<!-- alert -> 1 -->
<!-- alert -> 2 -->
<!-- alert -> 3 -->
<!-- alert -> restane -->
