<p>
  La directiva switch sirve para mostrar un contenido dependiendo del valor de
  una variable
</p>
<div [ngSwitch]="numero">

  <div *ngSwitchCase="1" class="alert alert-primary" role="alert">Opcion 1</div>
  <div *ngSwitchCase="2" class="alert alert-secondary" role="alert">
    Opcion 2
  </div>
  <div *ngSwitchCase="3" class="alert alert-danger" role="alert">Opcion 3</div>
  <div *ngSwitchCase="4" class="alert alert-warning" role="alert">Opcion 4</div>
  <asociacion-bind *ngSwitchCase="5"></asociacion-bind>
  <p *ngSwitchDefault>No exite coincidencia con el valor indicado</p>
</div>
