<input type="text" #inputElemento />
<button (click)="anadirElemento(inputElemento.value)">Pulsar</button>

<div class="row">
  <div class="col" *ngFor="let item of elementos; let i = index">
    <span [ngSwitch]="i">
      <p *ngSwitchCase="0">valor 1</p>
      <p *ngSwitchCase="1">valor 2</p>
      <p *ngSwitchCase="2">valor 3</p>
    </span>
    <!-- <ng-container *ngIf="i % 2 != 0; then thenTemplate"></ng-container>
    <ng-template #thenTemplate>
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item }}</h5>
          <p class="card-text">
            {{ i }}
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </ng-template> -->
  </div>
</div>

<ul>
  <li *ngFor="let item of elementos">{{ item }}</li>
</ul>
