<input type="text" #inputElemento />
<button (click)="anadirElemento(inputElemento.value)">Pulsar</button>
<div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio1"
      value="1"
      (change)="evaluarCambio($event)"
    />
    <label class="form-check-label" for="inlineRadio1">Asignaturas 1</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio2"
      value="2"
      (change)="evaluarCambio($event)"
    />
    <label class="form-check-label" for="inlineRadio2">Asignaturas 2</label>
  </div>
  <div class="form-check form-check-inline">
    <input
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio3"
      value="3"
      (change)="evaluarCambio($event)"
    />
    <label class="form-check-label" for="inlineRadio3">Todas asignaturas</label>
  </div>
</div>

<div class="row">
  <div class="col" *ngFor="let item of asignaturas">
    <div class="card" style="width: 18rem">
      <img [src]="item.imagen" class="card-img-top" [alt]="item.siglas" />
      <div class="card-body">
        <h5 class="card-title">{{ item.nombre }}</h5>
        <p class="card-text">
          {{ item.nombre }}<br />
          {{ item.siglas }}<br />
          {{ item.ciclo }} {{ item.curso }}<br />
        </p>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let conoc of item.conocimientos">
            {{ conoc }}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <div class="col" *ngFor="let item of elementos; let i = index">
    <span [ngSwitch]="i">
      <p *ngSwitchCase="0">valor 1</p>
      <p *ngSwitchCase="1">valor 2</p>
      <p *ngSwitchCase="2">valor 3</p>
    </span> -->
  <!-- <ng-container *ngIf="i % 2 != 0; then thenTemplate"></ng-container>
    <ng-template #thenTemplate>
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">{{ item }}</h5>
          <p class="card-text">
            {{ i }}
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </ng-template> -->
</div>

<ul>
  <li *ngFor="let item of elementos">{{ item }}</li>
</ul>
