<form>
    <div class="form-group">
        <label for="exampleInputUpper">Combertir en mayusculas</label>
        <input type="text" class="form-control" id="exampleInputUpper" #tuUpper>
        <small id="upperHelp" class="">{{textToUpper | uppercase}}</small>
        <button class="btn btn-primary" (click)="capturarUpper(tuUpper.value);">Convertir</button>

    </div>

    <div class="form-group">
        <label for="exampleInputLower">Combertir en minúsculas</label>
        <input type="text" class="form-control" id="exampleInputLower" #toLower>
        <small id="lowerHelp" class="">{{textToLower | lowercase}}</small>
        <button class="btn btn-primary" (click)="capturarLower(toLower.value);">Convertir</button>
    </div>


</form>