<input
  class="form-control"
  placeholder="introduce el nombre del pedidio"
  [(ngModel)]="nombrePedido"
/>
<div class="row">
  <div class="col">
    <select class="form-select" [(ngModel)]="ingredienteSeleccion">
      <option>Selecciona opcion</option>
      <option *ngFor="let item of ingredientes">{{ item.getNombre }}</option>
    </select>
  </div>
  <button class="btn btn-primary col" (click)="agregarIngrediente()">
    Agregar ingrediente
  </button>
  <p></p>
  <button class="btn btn-primary" (click)="enviarPedido()">Enviar</button>
  <h2>Pedidios</h2>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col" *ngFor="let item of listaPedidos">
      <div class="card">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            This is a longer card with supporting text below as a natural
            lead-in to additional content. This content is a little bit longer.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
