<p>
  La directiva for permite repetir una estructura HTML sobre una collecion de
  datos
</p>

<!-- <ul>
  <li *ngFor="let item of asignaturas">{{ item.nombre }}
    <ul>
      <li *ngFor="let conoc of item.conocimientos">{{conoc}}</li>
    </ul>
  </li>
</ul>

<ul>
  <li *ngFor="let item of arrayCurso('DAM2')">
    {{ item.nombre}} - {{ item.curso }}
  </li>
</ul> -->

<input type="text" class="form-control m-4" placeholder="Introduce curso a mostar" #inputFiltro>
<button class="btn btn-primary" (click)="metodoFiltrar(inputFiltro.value)">Filtrar</button>

<div class="row">

  <div *ngFor="let item of asignaturasFiltradas" class="col">
    <div class="card" style="width: 18rem">
      <img [src]="item.imagen" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{item.nombre}}</h5>
        <p class="card-text">
          {{item.siglas}} {{item.profesor}} {{item.horas}}
        </p>
        <div>
          <ul>
            <li *ngFor="let conocimiento of item.conocimientos">{{conocimiento}}</li>
          </ul>
        </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>



</div>
