<h1>Directiva if</h1>
<p>Esto es un ejemplo de como funciona la directiva if</p>
<p>El valor actual de la variable es: {{ mostrar }}</p>
<button (click)="mostrar = !mostrar">Cambiar valor</button>

<input type="text" #inputNombre placeholder="Introduce nombre" />
<input type="number" #inputNota />
<label>Convalida</label> <input type="checkbox" #inputCV />
<button (click)="evaluarNota(inputNota.value, inputCV.checked)">
  Evaluar alumno
</button>

<ng-container
  *ngIf="situacionAlumno == 0; then thenTemplate; else elseTemplate"
></ng-container>

<ng-template #thenTemplate>
  <div class="alert alert-success" role="alert">
    El alumno cv y ha superado con nota. Curso aprobado
  </div>
</ng-template>
<ng-template #elseTemplate>
  <ng-container
    *ngIf="situacionAlumno == 1; then thenTemplate; else elseTemplate"
  ></ng-container>

  <ng-template #thenTemplate>
    <div class="alert alert-warning" role="alert">
      El alumno no y ha superado con nota. Curso pendiente de FCTs
    </div>
  </ng-template>
  <ng-template #elseTemplate> </ng-template>

  <div class="alert alert-danger" role="alert">
    El alumno no cv y no aprueba
  </div>
</ng-template>
