<!-- div botones -->
<div class="row mt-4">
  <button class="btn btn-primary col" (click)="mostrarNoticias('deporte')">
    Deportes
  </button>
  <button class="btn btn-primary col" (click)="mostrarNoticias('politica')">
    Politica
  </button>
  <button class="btn btn-primary col" (click)="mostrarNoticias('sociedad')">
    Sociedad
  </button>
  <button class="btn btn-primary col" (click)="mostrarNoticias('todas')">
    Todas
  </button>
</div>

<!-- div noticas -->
<div class="row mt-4">
  <div class="col-8">
    <h2>Titulares</h2>

    <!-- columna card -->
    <div class="row">
      <div class="col" *ngFor="let item of noticias">
        <div class="card" style="width: 18rem">
          <img
            [src]="item.urlToImage | imagenes"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ item.title }}</h5>
            <p class="card-text">
              {{ item.description }}
            </p>
            <p>
              {{ item.publishedAt | date }}
            </p>
            <a [href]="item.url" class="btn btn-primary">Ir a la noticia</a>
            <a class="btn btn-primary" (click)="mostrarDetalle(item)"
              >Ver contenido</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-4">
    <h2>Contenido</h2>

    <ng-container *ngIf="mostrar; else elseTemplate">
      <div class="col">
        <div class="card" style="width: 18rem">
          <img
            [src]="noticiaDetalle.urlToImage | imagenes"
            class="card-img-top"
            alt="..."
          />
          <div class="card-body">
            <h5 class="card-title">{{ noticiaDetalle.title }}</h5>
            <p class="card-text">
              {{ noticiaDetalle.content }}
            </p>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="alert alert-primary" role="alert">
        Por favor selecciona noticia para ver el detalle
      </div>
    </ng-template>

    <!-- <div class="alert alert-primary" role="alert" *ngIf="!mostrar">
      Por favor selecciona noticia para ver el detalle
    </div> -->

    <!-- columna card -->

    <!-- <div class="col" *ngIf="mostrar">
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div> -->
  </div>
</div>
