<h2>Directiva switch</h2>
<p>La directiva switch evalua un caso sobre el contenido de una variable</p>
<input
  type="number"
  class="form-control"
  #inputSwitch
  (change)="cambiarValorInput(inputSwitch.value)"
/>
<button class="btn btn-primary" (click)="cambiarValorInput(inputSwitch.value)">
  Mostrar
</button>
<!-- Elemento que le toca dependiendo del valor de input -->
<div [ngSwitch]="valorInput" class="mt-4">
  <div *ngSwitchCase="1" class="alert alert-primary" role="alert">
    A simple case 1 alert—check it out!
  </div>
  <div *ngSwitchCase="2" class="alert alert-secondary" role="alert">
    A simple case 2 alert—check it out!
  </div>
  <div *ngSwitchDefault class="alert alert-success" role="alert">
    A simple default alert—check it out!
  </div>
</div>
