<nav class="navbar bg-primary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cliente Twitter</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="#">EscribirTweet</a>
        <a class="nav-link" href="#">VerTweets</a>
      </div>
    </div>
  </div>
</nav>
<main class="container mt-3">
  <div class="row">
    <div class="col-4">
      <h2>Escribe lo que quieras</h2>
      <!-- componente para escribir tweets -->
      <app-escribir></app-escribir>
    </div>
    <div class="col-8">
      <h2 id="centrado">Listado de tweets</h2>
      <!-- componente para listar tweets -->
      <app-listar></app-listar>
    </div>
  </div>
</main>
