<app-barra-navegacion></app-barra-navegacion>
<div class="container">
  <h1>Primer componente de Angular</h1>
  <p>
    Nombre: {{ nombre }}<br />Curso: {{ curso }}<br />Asignatura:
    {{ asignatura }}
  </p>
  <div class="row">
    <h1>Mostrando componentes iniciales</h1>
    <div class="col">
      <componente-uno></componente-uno>
    </div>
    <div class="col">
      <componente-dos></componente-dos>
    </div>
    <div class="col">
      <componente-tres></componente-tres>
    </div>
  </div>
  <div class="row">
    <h1>Mostrando componentes de materias</h1>
    <div class="col">
      <app-materia></app-materia>
    </div>
  </div>
  <div class="row">
    <h1>Mostrando componentes de directivas</h1>
    <div class="col main-component">
      <app-directiva-if></app-directiva-if>
    </div>
    <div class="col main-component">
      <app-directiva-switch></app-directiva-switch>
    </div>
  </div>
  <div class="row">
    <h1>Directiva nf-For</h1>
    <app-directiva-for></app-directiva-for>
  </div>
</div>
