h1{
    text-align: center;
    font-family: 'Bakbak One', cursive;
    
}

.elemento_importante{
    background-color: bisque;
} 

.letras_importantes{
    color: brown;
}

.elemento_alumno{
    background-color: cadetblue;
    font-family: 'Twinkle Star', cursive;
}

.elemento_profesor{
    
    font-family: 'Courier New', Courier, monospace;
    background-color: darkkhaki;
}