<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Inicio</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Fútbol
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" [routerLink]="['/futbol']" routerLinkActive="router-link-active">Sin parámetros</a>
                    <a class="dropdown-item" [routerLink]="['/futbol',4]" routerLinkActive="router-link-active">Con parámetros </a>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Videojuegos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" routerLinkActive="router-link-active" (click)="navegarParametros()">Sin parámetros</a>
                    <a class="dropdown-item" routerLinkActive="router-link-active" (click)="navegarParametros(4)">Con parámetros </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" tabindex="-1" (click)="navegar()">Libros</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/viajes']" routerLinkActive="router-link-active" tabindex="-1">Viajes   </a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>