<h2>Lista de pizzas en la carta</h2>
<select
  class="form-select"
  [(ngModel)]="ingredienteBusqueda"
  (change)="realizarFiltro()"
>
  <option>Selecciona opcion</option>
  <option *ngFor="let item of ingredientes">{{ item.getNombre }}</option>
</select>

<!-- alert dependiendo si estoy haciendo una busqueda-->
<div
  class="alert alert-primary"
  role="alert"
  *ngIf="ingredienteBusqueda != 'Selecciona opcion'"
>
  El numero de resultados de la busqueda es:
</div>

<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" *ngFor="let item of listaFiltrada">
    <div class="card">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">Titulo de la carta</h5>
        <p class="card-text">Cuerpo de la carta</p>
        <ul class="list-group">
          <li
            class="list-group-item"
            *ngFor="let item1 of item.getIngredientes"
          >
            {{ item1.getNombre }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
