<h2>Componente decisiones</h2>
<p>Este componente mostrará un dato dependiendo de una condición</p>
<input placeholder="Introduce el nombre" class="form-control" [(ngModel)]="nombre" />
<input placeholder="Introduce el apellido" class="form-control mt-3" [(ngModel)]="apellido" />
<input
  placeholder="Introduce el salario"
  type="number"
  class="form-control mt-3"
  [(ngModel)]="salario"
/>
<select class="form-select mt-3" [(ngModel)]="edad">
  <option>16</option>
  <option>17</option>
  <option>18</option>
  <option>19</option>
  <option>20</option>
</select>
<select class="form-select mt-3" [(ngModel)]="experiencia">
  <option>1</option>
  <option>3</option>
  <option>5</option>
  <option>7</option>
  <option>11</option>
</select>
<button class="btn btn-primary mt-3" (click)="contratar()">Validar</button>
@if (resolucion && analizada) {
  <div class="alert alert-success" role="alert">
    El empleado con nombre {{ nombre }} contratado correctamente
  </div>
} @else if (!resolucion && analizada) {
  <div class="alert alert-danger" role="alert">
    El empleado con nombre {{ nombre }} se desestima su solicitud
  </div>
}
<!-- crear un boton donde al pulsarlo muestre u oculete el bloq del if -->
<!-- <button class="btn btn-primary" (click)="cambiarMostar()">Mostrar</button>
@if (mostrar) {
  <p>La condición de evaluacion es true</p>
} @else if {} -->
<!-- <ng-container *ngIf="mostrar">
</ng-container> -->

<!-- 
Realizar un formulario de datos, donde se debe introducir un nombre, apellido, edad, salario,
 años experiencia
El sistema evaluara la idoneidad del candidato tras la pulsacion de un boton:
 - el candidato tiene mas de 18 años
 - el candidato pide un salario de menos de 20000 euros
 - el candidato tiene menos de 2 años de expriencia
 CANDIDATO IDONEO
 - el candidato tiene mas de 18 años
 - el candidato pide un salario de menos de 50000 euros
 - el candidato tiene mas de 3 años de expriencia
CANDIDATO IDONEO
- el candidato tiene mas de 10 años de expriencia
- el candidato tiene mas de 18 años
CANDIDATO IDONEO
- en el resto de los casos candidato descartado

alert de bootrap indicando la contratacion del candidato. En caso de que no se pueda dar
utilizar un alert diferente para indicar la no contratacion

ALERT correcto -> "El candidato con nombre XXXXXX se ha contratado" 
ALERT incorrecto -> "El candidato con nombre XXXXXX no cumple los requisitos" 
-->
