<div class="container">
    <div class="row" style="margin-top: 50px;">
        <div class="col" style="background-color: burlywood;">
            <h1>Columna 1</h1>
            <div>
                <p>Esta es la primera columna aplicando tan solo la clase col </p>
            </div>
        </div>
        <div class="col" style="background-color: coral;">
            <h1>Columna 2</h1>
            <p>Esta es la segunda columna aplicando tan solo la clase col </p>
        </div>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="col">
            <h1>Columna 1</h1>
            <p>Esta es la segunda columna aplicando tan solo la clase col </p>

        </div>
        <div class="col-6 ">
            <h1>Columna 2</h1>
            <p>Esta es la segunda columna aplicando tan solo la clase col-6 </p>

        </div>
        <div class="col">
            <h1>Columna 3</h1>
            <p>Esta es la tercera columna aplicando tan solo la clase col </p>

        </div>
    </div>

    <div class="row" style="margin-top: 50px;">
        <div class="lg-col-3 md-col-4 sm-col-6 col-center">
            <h1>Columna 1</h1>
        </div>
        <div class="lg-col-3 md-col-4 sm-col-6 col-center">
            <h1>Columna 2</h1>
        </div>
        <div class="lg-col-3 md-col-4 sm-col-6 col-center">
            <h1>Columna 3</h1>
        </div>
        <div class="lg-col-3 md-col-4 sm-col-6 col-center">
            <h1>Columna 4</h1>
        </div>
    </div>

    <div class="card-deck" style="margin-top: 50px;">

        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>

        </div>

        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>

    <div class="card-group" style="margin-top: 50px;">
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
        </div>
    </div>
</div>