<div class="container m-4">
  <h1 class="mb-4">Ejercicio busquedas</h1>
  <div class="row">
    <div class="col-4">
      <h2>Formulario de agregar</h2>
      <div class="m-4">
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="radio_fp"
            value="FP"
            (change)="obtenerEstudio($event)"
          />
          <label class="form-check-label" for="radio_fp">FP</label>
        </div>
        <div class="form-check form-check-inline">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="radio_bachillerato"
            value="Bachillerato"
            (change)="obtenerEstudio($event)"
          />
          <label class="form-check-label" for="radio_bachillerato"
            >Bachillerato</label
          >
        </div>
        <div class="form-check form-check-inline mb-4">
          <input
            class="form-check-input"
            type="radio"
            name="inlineRadioOptions"
            id="radio_universidad"
            value="Universidad"
            (change)="obtenerEstudio($event)"
          />
          <label class="form-check-label" for="radio_universidad"
            >Universidad</label
          >
        </div>
        <input
          class="form-control mb-4"
          placeholder="Introduce nombre"
          type="text"
          #inputNombre
        />
        <input
          class="form-control mb-4"
          placeholder="Introduce apellido"
          type="text"
          #inputApellido
        />

        <input
          class="form-control mb-4"
          placeholder="Introduce edad"
          type="number"
          max="60"
          min="18"
          #inputEdad
        />

        <select class="form-select mb-4" #selectCiclo>
          <option value="dam">DAM</option>
          <option value="daw">DAW</option>
          <option value="asir">ASIR</option>
        </select>

        <button
          class="btn btn-primary"
          (click)="
            agregarAlumno(
              inputNombre.value,
              inputApellido.value,
              inputEdad.value,
              selectCiclo.value
            )
          "
        >
          Pulsar
        </button>
      </div>
    </div>
    <div class="col-8">
      <h2>Formulario de busqueda</h2>
      <p>Número de alumnos registrados: {{ alumnos.length }}</p>
      <div class="mb-4">
        <label> Buscar por ciclos </label>
        <select #selectCiclo>
          <option>DAM</option>
          <option>DAW</option>
          <option>ASIR</option>
        </select>
      </div>
      <div class="mb-4">
        <label> Buscar por estudios </label>
        <select #selectEstudios>
          <option>FP</option>
          <option>Universidad</option>
          <option>Bachillerato</option>
        </select>
      </div>

      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="estudios"
          id="inlineRadio1"
          value="1"
          (change)="cambioFiltro($event)"
        />
        <label class="form-check-label" for="inlineRadio1">Filtro ciclo</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="estudios"
          id="inlineRadio2"
          value="2"
          (change)="cambioFiltro($event)"
        />
        <label class="form-check-label" for="inlineRadio2"
          >Filtro estudios</label
        >
      </div>
      <button
        class="btn btn-primary mb-4"
        (click)="filtrar(selectCiclo.value, selectEstudios.value)"
      >
        Filtrar
      </button>

      <button class="btn btn-primary mb-4" (click)="filtrando = false">
        Borrar filtro
      </button>

      <ng-container *ngIf="filtrando; then thenTemplate"></ng-container>
      <ng-template #thenTemplate>
        <div [ngSwitch]="numeroAlumnosFiltro">
          <div *ngSwitchCase="0" class="alert alert-danger" role="alert">
            El numero de alumnos encontrados es {{ numeroAlumnosFiltro }}
          </div>
          <div *ngSwitchCase="1" class="alert alert-warning" role="alert">
            El numero de alumnos encontrados es {{ numeroAlumnosFiltro }}
          </div>

          <div *ngSwitchDefault class="alert alert-success" role="alert">
            El numero de alumnos encontrados es {{ numeroAlumnosFiltro }}
          </div>
        </div>

        <!-- <div class="alert alert-primary" role="alert">
          A simple primary alert—check it out!
        </div> -->
      </ng-template>
    </div>
  </div>
</div>
