<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="['/info']">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" [routerLink]="['/coches']" >Coches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/motos']">Motos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

<!-- <select class="form-select" [(ngModel)]="seleccionComponente">
    <option value="0">Coches</option>
    <option value="1">Motos</option>
</select>
 Si selecciono coches se muestra el componente de concesionario
 Si selecciono motos se muestra el componente de motos
@switch (seleccionComponente) {
    @case ("0") {
        <app-concesionario></app-concesionario>
    }
    @case ("1") {
        <app-motos></app-motos>
    }
}
 -->
<router-outlet>
    
</router-outlet>