<h1>Resultados de carga</h1>
<select (change)="consultaLigas()" class="form-select" [(ngModel)]="pais">
  <option value="Spain">España</option>
  <option value="Italy">Italia</option>
  <option value="Frace">Francia</option>
  <option value="England">Inglaterra</option>
  <option value="Portugal">Portugal</option>
</select>

<div class="row">
  @for (item of listaLigas; track $index) {
  <div class="col">
    <div class="card m-3" style="width: 18rem">
      <img [src]="item.strBadge" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ item.strLeague }}</h5>
        <p class="card-text">
          {{ item.strDescriptionEN | slice : 0 : 200 }}
        </p>
      </div>
    </div>
  </div>
  }
</div>
