<div>
    <div>
        <h2 style=" text-align: center ">Videojuegos</h2>
    </div>

    <ul class="m-2 ">
        <li>
            <h3>
                <img src="../../../assets/images/final.png " alt="final fantasy " class="img-thumbnail img-fluid imagenxl " /> Final Fantasy X
            </h3>
        </li>
        <li>
            <h3>
                <img src="../../../assets/images/thelast.png " alt="the last of us " class="img-thumbnail img-fluid imagenxl " /> The Last of Us
            </h3>
        </li>

        <li>
            <h3>
                <img src="../../../assets/images/vice.jpg " alt="Gran Thef Auto " class="img-thumbnail img-fluid imagenxl " /> Gran Thef Auto: Vice City
            </h3>
        </li>

        <li>
            <h3>
                <img src="../../../assets/images/god.png " alt="god of war " class="img-thumbnail img-fluid imagenxl " /> The God of War
            </h3>
        </li>
    </ul>
</div>