<h2>NgIF</h2>
<p>
  La directava ng if sirve para poder renderizar un template (un bloque)
  dependiendo de una o varias condicioenes logicas
</p>

<button class="btn btn-primary" (click)="mostrar = !mostrar">Pulsar</button>

<ng-container *ngIf="mostrar">
  <app-home></app-home>
  <!-- <div class="alert alert-primary" role="alert">
    La condicion de mostrado es verdadera
  </div> -->
</ng-container>
<!-- <ng-template #elseTemplate>
  <div class="alert alert-warning" role="alert">
    La condicion de mostrado es falsa
  </div>
</ng-template> -->
