<p>Componente realizado por {{ alumno.nombre }} {{ alumno.apellido }}</p>
<div class="row">
  <div class="col">
    <img style="width: 30%" [src]="urlImagen" />
    <div class="m-4">
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="radio_fp"
          value="FP"
          #radioFP
          (change)="capturaCambioRadio(radioFP.value)"
        />
        <label class="form-check-label" for="radio_fp">FP</label>
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="radio_bachillerato"
          value="Bachillerato"
          #radioBachillerato
          (change)="capturaEvento($event)"
        />
        <label class="form-check-label" for="radio_bachillerato"
          >Bachillerato</label
        >
      </div>
      <div class="form-check form-check-inline">
        <input
          class="form-check-input"
          type="radio"
          name="inlineRadioOptions"
          id="radio_universidad"
          value="Universidad"
          #radioUniversidad
          (change)="capturaEvento($event)"
        />
        <label class="form-check-label" for="radio_universidad"
          >Universidad</label
        >
      </div>
      <input
        class="form-control"
        placeholder="Introduce nombre"
        type="text"
        #inputNombre
      />
      <input
        class="form-control"
        placeholder="Introduce apellido"
        type="text"
        #inputApellido
      />

      <select class="form-select form-select-lg" #selectCiclo>
        <option value="dam">DAM</option>
        <option value="daw">DAW</option>
        <option value="asir">ASIR</option>
      </select>

      <div class="form-check">
        <input
          class="form-check-input"
          type="checkbox"
          id="check_experiencia"
          #checkExperiencia
          (change)="cambioEstadoCheck(checkExperiencia.checked)"
        />
        <label class="form-check-label" for="check_experiencia">
          Experiencia
        </label>
      </div>

      <button
        class="btn btn-primary"
        (click)="
          capturaValores(
            inputNombre.value,
            inputApellido.value,
            selectCiclo.value
          )
        "
      >
        Pulsar
      </button>
    </div>
  </div>
  <div class="col">
    <h2>Resultado</h2>
    <p>
      <!-- Nombre: NombreIntroducido Apellido: NombreIntroducido Origen:
      NombreIntroducido Ciclo: NombreIntroducido Experiencia: NombreIntroducido -->
      {{ alumno.nombre }}<br />
      {{ alumno.apellido }}<br />
      {{ alumno.ciclo }}<br />
      {{ alumno.estudios }}<br />
      {{ alumno.experiencia }}<br />
    </p>
  </div>
</div>
