<h2>Informacion de contacto</h2>
<select class="form-select" #select (change)="modificarSeleccion(select.value)">
  <option value="1">Opcion 1</option>
  <option value="2">Opcion 2</option>
  <option value="3">Opcion 3</option>
  <option value="4">Opcion 4</option>
  <option value="5">Opcion 5</option>
  <option value="6">Opcion 6</option>
</select>

@switch (seleccionSelect) { @case ("1") {
<div class="alert alert-primary" role="alert">Seleccionado el value 1</div>
} @case ("2") {
<div class="alert alert-alert" role="alert">Seleccionado el value 2</div>
} @case ("3") {
<app-personal></app-personal>
} @case ("4") {
<app-curso></app-curso>
} @default {
<p>No hay una opcion viable</p>
} }
