<h2>Directivas de binding</h2>
<p>
  Este componente lo utilizaremos para explicar el binding. Para ello
  utilizaremos tres ejemplos
</p>
<img [src]="imagenUrl" style="width: 30%" />
<p>El primer ejemplo es {{ bindingUno }}</p>
<input
  class="form-control"
  placeholder="por favor introduce la url que quieres mostar"
  type="text"
  #inputURL
/>

<button class="btn btn-primary mt-3" (click)="cambiarImagen(inputURL.value)">
  Cargar
</button>

<p class="mt-3">La imagen se cargado: {{ imagenUrl }}</p>

<div class="row">
  <div class="col">
    <input
      class="form-control"
      type="text"
      placeholder="introduce nombre"
      [(ngModel)]="nombre"
      #inputN
    />
    <input
      class="form-control"
      type="text"
      placeholder="introduce apellido"
      #inputA
      [(ngModel)]="apellido"
    />
    <input
      class="form-control"
      type="text"
      placeholder="introduce correo"
      [(ngModel)]="correo"
      #inputC
    />
    <select class="form-select" [(ngModel)]="profesion" #selectP>
      <option>Profesor</option>
      <option>Contable</option>
      <option>Vendedor</option>
    </select>
    <button class="btn btn-primary">Enviar datos</button>
  </div>
  <div class="col ms-4">
    <p>Nombre {{ nombre }}</p>
    <p>Apellido {{ apellido }}</p>
    <p>Correo {{ correo }}</p>
    <p>Profesion {{ profesion }}</p>
  </div>
</div>
