<input #inputnombre  [(ngModel)]="nombreBuscar" class="form-control" type="text" placeholder="introduce el nombre del profesor">
<input [(ngModel)]="conocimientoBuscar" class="form-control" type="text" placeholder="introduce el conocimiento">
<select [(ngModel)]="asignaturaBuscar" class="form-select" >
    <option value="DAM">DAM</option>
    <option value="DAW">DAW</option>
    <option value="AMBOS">Ambos</option>
</select>
<button (click)="relizarBusqueda()" class="btn btn-primary" >Buscar</button>
<div class="row">
    @for (item of asignaturasFiltro; track $index) {

       <app-carta-asignatura class="col" [asignatura]="item"></app-carta-asignatura>
    }
    
</div>

