<div class="row row-cols-1 row-cols-md-2 g-4">
  <div class="col" *ngFor="let item of posts">
    <div
      class="card"
      [ngClass]="{ 
        'border-danger': item.reactions.likes < 500 , 
        'border-warning': item.reactions.likes >= 500 && item.reactions.likes < 1000, 
      'border-success': item.reactions.likes > 1000,  }"
    >
      <img
        [src]="item | imagenes"
        class="card-img-top"
        style="height: 40%"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title">{{ item.title }}</h5>
        <p class="card-text">
          {{ item.body }}
        </p>
        <ul class="list-group mb-3">
          <li class="list-group-item" *ngFor="let tag of item.tags">
            {{ tag | uppercase }}
          </li>
        </ul>
        <div class="row">
          <span class="col"
            ><img class="public/like.png" />{{ item.reactions.likes }}</span
          >
          <span class="col"
            ><img class="public/dislike.png" />
            {{ item.reactions.dislikes }}</span
          >
        </div>
        <button class="btn btn-primary mt-3">Ver detalle</button>
      </div>
    </div>
  </div>
</div>
