<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="radio"
    id="inlineCheckbox1"
    value="1"
    name="grupoOpciones"
    (change)="cambioOpcion($event)"
  />
  <label class="form-check-label" for="inlineCheckbox1">Opcion 1</label>
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="radio"
    id="inlineCheckbox2"
    value="2"
    name="grupoOpciones"
    (change)="cambioOpcion($event)"
  />
  <label class="form-check-label" for="inlineCheckbox2">Opcion 2</label>
</div>
<div class="form-check form-check-inline">
  <input
    class="form-check-input"
    type="radio"
    id="inlineCheckbox3"
    value="3"
    name="grupoOpciones"
    (change)="cambioOpcion($event)"
  />
  <label class="form-check-label" for="inlineCheckbox3">Opcion 3</label>
</div>

<div [ngSwitch]="opcion">
  <div *ngSwitchCase="1" class="alert alert-primary" role="alert">
    Opcion 1 seleccionada
  </div>

  <div *ngSwitchCase="2" class="alert alert-success" role="alert">
    Opcion 2 seleccionada
  </div>

  <div *ngSwitchCase="3" class="alert alert-warning" role="alert">
    Opcion 3 seleccionada
  </div>
</div>
