<h2>Componente selecciones</h2>
<p>Vamos a evaluar el mostrado de un elemento HTML dependiendo de una seleccion</p>
<input placeholder="Introduce el nombre" class="form-control" />
<input placeholder="Introduce el direccion envio" class="form-control mt-3" />
<input placeholder="Introduce el direccion facturacion" class="form-control mt-3" />
<input placeholder="Introduce el coste" type="number" class="form-control mt-3" />
<select class="form-select mt-3 mb-3" [(ngModel)]="tipoPago">
  <option value="1">Bizum</option>
  <option value="2">Transferencia</option>
  <option value="3">Trajeta</option>
</select>

@switch (tipoPago) {
  @case ('1') {
    <input class="form-control" placeholder="Introduce telefono" />
  }
  @case ('2') {
    <input class="form-control" placeholder="Introduce cuenta corriente" />
  }
  @case ('3') {
    <input class="form-control" placeholder="Introduce numero tarjeta" />
    <input class="form-control" type="date" placeholder="Introduce fecha caducidad" />
    <input class="form-control" type="number" placeholder="Introduce fecha CVV" />
  }
}
<!-- <span [ngSwitch]="">
<p *ngSwitchCase="true">

</p>
<p *ngSwitchCase="false">

</p>
<p *ngSwitchDefault>

</p>
</span> -->

<button class="btn btn-primary mt-3" (click)="validarCompra()">Validar</button>

<!-- 
Crear un formulario donde indique cual es el tipo de pago que se 
realizará en una compra
Para ello el formulario debera incluir los siguiente campos: 
- Nombre
- Direccion de envio
- Direccion de facturacion
- Coste
- Tipo de pago: 
      bizum,  
      pagp ordinario
      transferencia

- Validar
En caso de indicar pago ordinario se mostrar un input para introdducir
  numero de tarjeta, cvv, mes/año caducidad
En caso de indicar bizum se mostrará un input para poder introdir el telefono
En caso de inidicar tranferencia input para indicar el numero de cuante
Un vaz le de al boton validar en un alert / sweetAlert
  - El producto se envia correctamente al usuario NOMBRE
    Con un coste de XXXX (+5% si es tranferencia)
    a la direccion de facturacion XXXX
    Los datos de pago son:
      Ordinario: Tarjeta XXXX XX/XX
      Bizum: telefono XXXXX
      Transferencia: Cuenta: XXXXX


-->
