<div>
    <h2 style="text-align: center">Fútbol</h2>
</div>

<ul class="m-2" id="listaFutbolistas">
    <li>
        <h3>
            <img src="../../../assets/images/iniesta.jpg" alt="Andres iniesta" class="img-thumbnail img-fluid imagen" /> Andres Iniesta
        </h3>
    </li>
    <li>
        <h3>
            <img src="../../../assets/images/cantona.jpg" alt="eric cantona" class="img-thumbnail img-fluid imagen" /> Eric Cantona
        </h3>
    </li>

    <li>
        <h3>
            <img src="../../../assets/images/zidane.jpg" alt="zinedine zidane" class="img-thumbnail img-fluid imagen" /> Zinedine Zidane
        </h3>
    </li>

    <li>
        <h3>
            <img src="../../../assets/images/ronaldinho.jpg" alt="ronaldinho gaucho" class="img-thumbnail img-fluid imagen" /> Ronaldinho Gaucho
        </h3>
    </li>
</ul>

<div>
    <button (click)="agregar()">Pulsar para agregar futbolista</button>

</div>