<h1>Curso XXX</h1>
<div class="row">
  <div class="col mb-4" *ngFor="let item of filtadas" >
    <div class="card" style="width: 18rem;">
      <img src="" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{item.nombre}}</h5>
        <p class="card-text">
          Curso: {{item.curso}}<br/>
          Horas: {{item.hora}}<br/>
          Profesor: {{item.profesor}}
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>

