<img [src]="imagen" class="img-fluid">

<button class="btn btn-primary" (click)="botonPulsado()">Pulsar</button>

<p>Los binds son asociaciones entre código
  .ts y código .html, y al contrario. Tipos de bind: <br/></p>
<ul>
  <li>Bind de lógico a gráfico: se usa la doble llave. Un ejemplo sería: Mi nombre es {{nombre}} y tengo {{edad}}</li>
  <li>Bind de lo gráfico a lo lógico: se usa para configurar eventos. (metodoAejecutar)</li>
  <li>La suma de las variables  {{numero1}} y {{numero2}} es {{calcularSuma(numero1,numero2)}}</li>
</ul>



