<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a (click)="realizarNavegacion()" class="nav-link" aria-current="page"
            >Listado</a
          >
        </li>
        <li class="nav-item">
          <a [routerLink]="['/buscador']" class="nav-link">Buscador</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet>
    <!-- no pongo nada, renderiza la ruta indicada en el navegado -->
  </router-outlet>
</div>
