<!-- formulario de introduccion de datos -->
<!-- tarea -->
<!-- nombre, descripcion, importancia (alta, media, naja)
    , estado (pendiente, en proceso, completa) 
    boton para poder agregar la tarea a un array
-->
<input
  class="form-control"
  placeholder="introduce nombre"
  id="inputnombre"
  [(ngModel)]="nombreValor"
/>
<input
  [(ngModel)]="descripcionValor"
  class="form-control"
  placeholder="introduce descripcion"
/>
<select
  [(ngModel)]="prioridadValor"
  class="form-select"
  (change)="cambiarDatos($event)"
>
  <option>Alta</option>
  <option>Media</option>
  <option>Baja</option>
</select>
<select
  [(ngModel)]="estadoValor"
  class="form-select"
  (change)="cambiarDatos($event)"
>
  <option>Pendiente</option>
  <option>En proceso</option>
  <option>Completada</option>
</select>
<button class="btn btn-primary" (click)="agregarTarea()">Agregar</button>

<!-- Crear un array, donde tras pulsar el boton, 
    se agrege a la lista una tarea con los datos de los inputs -->

<!-- Crear un objeto de tipo tarea (una clase) e importarla  -->
