<div class="row mt-4">
  <div class="col">
    <div class="card" style="width: 18rem">
      <img [src]="angular.imagen" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ angular.nombre }}</h5>
        <p class="card-text">
          {{ angular.descripcion }}
        </p>
        <a href="#" class="btn btn-primary">Ver detalle</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem">
      <img [src]="java.imagen" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ java.nombre }}</h5>
        <p class="card-text">
          {{ java.descripcion }}
        </p>
        <a href="#" class="btn btn-primary">Ver detalle</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card" style="width: 18rem">
      <img [src]="js.imagen" class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ js.nombre }}</h5>
        <p class="card-text">
          {{ js.descripcion }}
        </p>
        <a href="#" class="btn btn-primary">Ver detalle</a>
      </div>
    </div>
  </div>
</div>
