<div class="card" style="width: 18rem">
  <img [src]="angular.imagen" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ angular.nombre }}</h5>
    <p class="card-text">
      {{ angular.descripcion }}
    </p>
    <a href="#" class="btn btn-primary">Ver detalle</a>
  </div>
</div>

<div class="card" style="width: 18rem">
  <img [src]="angular.imagen" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ angular.nombre }}</h5>
    <p class="card-text">
      {{ angular.descripcion }}
    </p>
    <a href="#" class="btn btn-primary">Ver detalle</a>
  </div>
</div>

<div class="card" style="width: 18rem">
  <img [src]="angular.imagen" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ angular.nombre }}</h5>
    <p class="card-text">
      {{ angular.descripcion }}
    </p>
    <a href="#" class="btn btn-primary">Ver detalle</a>
  </div>
</div>

<div class="card" style="width: 18rem">
  <img [src]="angular.imagen" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ angular.nombre }}</h5>
    <p class="card-text">
      {{ angular.descripcion }}
    </p>
    <a href="#" class="btn btn-primary">Ver detalle</a>
  </div>
</div>

<div class="card" style="width: 18rem">
  <img [src]="angular.imagen" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ angular.nombre }}</h5>
    <p class="card-text">
      {{ angular.descripcion }}
    </p>
    <a href="#" class="btn btn-primary">Ver detalle</a>
  </div>
</div>

<div class="card" style="width: 18rem">
  <img [src]="angular.imagen" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ angular.nombre }}</h5>
    <p class="card-text">
      {{ angular.descripcion }}
    </p>
    <a href="#" class="btn btn-primary">Ver detalle</a>
  </div>
</div>

<div class="card" style="width: 18rem">
  <img [src]="angular.imagen" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ angular.nombre }}</h5>
    <p class="card-text">
      {{ angular.descripcion }}
    </p>
    <a href="#" class="btn btn-primary">Ver detalle</a>
  </div>
</div>
