<h1>Directiva for</h1>
<p>
  Directiva que permite recuperar elementos de una coleccion y repeter un bloque
  html con dichos elementos
</p>

<div class="row">
  <div class="col">
    <div>
      <input
        type="text"
        placeholder="Por favor introduce nombre del li"
        #inputLI
      />
      <button (click)="agregarLI(inputLI.value)">Agregar</button>
    </div>
    <ul>
      <li *ngFor="let item of coleccionElementos; let i = index">
        {{ item }}
      </li>
      <!-- repite este elemento, y para cada repeticion utiliza la iteracion de una colccion -->
    </ul>
  </div>
  <div class="col">
    <div>
      <input type="number" placeholder="Por favor fitro" #inputFiltro />
      <button (click)="filtrarElementos(inputFiltro.value)">Filtrar</button>
    </div>
    <ng-container *ngIf="filtrando; else elseTemplate">
      <div class="alert alert-primary" role="alert">
        El numero de resultados es de {{ coleccionElementosFiltrados.length }}
      </div>
    </ng-container>
    <ng-template #elseTemplate>
      <div class="alert alert-success" role="alert">
        Por favor introduce elemento para filtrar
      </div>
    </ng-template>

    <ul>
      <li *ngFor="let item of coleccionElementosFiltrados; let i = index">
        {{ i }} {{ item }}
      </li>
    </ul>
  </div>
</div>
