<div class="container m-4">
  <h1 >Primer proyecto Angular</h1>
  <div class="row">
    <div class="col">
      <h2>Binding</h2>
      <asociacion-bind></asociacion-bind>
    </div>
    <div class="col">
      <h2>Directiva IF</h2>
      <asociacion-if></asociacion-if>
    </div>
    <div class="col">
      <h2>Directiva Switch</h2>
      <asociacion-switch></asociacion-switch>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h2>Directiva FOR</h2>
      <asociacion-for></asociacion-for>
    </div>
  </div>
</div>
