<img [src]="imagen" style="width: 20%" />
<input
  type="text"
  placeholder="Introduce tu nombre"
  class="form-control"
  [(ngModel)]="nombre"
/>
<p>
  Esto es la primera app realizada con angular por {{ nombre }} para la
  asignatura {{ asignatura }}
</p>
<input
  type="text"
  class="form-control mb-3"
  placeholder="introduce nombre"
  #inputNombre
/>
<input
  type="text"
  class="form-control mb-3"
  placeholder="introduce apellido"
  #inputApellido
/>
<input
  type="text"
  class="form-control mb-3"
  placeholder="introduce correo"
  #inputCorreo
/>

<select class="form-select mb-3" #selectOpcion (change)="cambioSelect($event)">
  <option value="1">Opcion 1</option>
  <option value="2">Opcion 2</option>
  <option value="3">Opcion 3</option>
  <option value="4">Opcion 4</option>
</select>

<button class="btn btn-success" (click)="cambiarFondo()">Cambiar fondo</button>
<button
  class="btn btn-success"
  (click)="
    obtenerDatos(
      inputNombre.value,
      inputApellido.value,
      inputCorreo.value,
      selectOpcion.value
    )
  "
>
  Sacar datos
</button>
<button class="btn btn-success" (click)="nombre = ''">Vaciar datos</button>
