<main class="row">
  <p>
    <span>Esto es una app para un {{ concesionario | uppercase }}</span
    ><br />
    <span>El numero de ventas es de {{ 200000 | currency : "EUR" : true }}</span
    ><br />
    <img
      style="width: 200px"
      [src]="imagenConcesionario | imagenes : 'asd' : 'asd' : 'asd'"
    />
  </p>

  <div class="col">
    <input
      [(ngModel)]="marca"
      type="text"
      class="form-control mb-4"
      #inputmarca
      placeholder="introduce marca"
    />
    <input
      [(ngModel)]="modelo"
      type="text"
      class="form-control mb-4"
      #inputmodelo
      placeholder="introduce modelo"
    />
    <input
      [(ngModel)]="cv"
      type="number"
      class="form-control mb-4"
      #inputcv
      placeholder="introduce cv"
    />
    <input
      [(ngModel)]="cc"
      type="number"
      class="form-control mb-4"
      #inputcc
      placeholder="introduce cc"
    />
    <input
      [(ngModel)]="matricula"
      type="text"
      class="form-control mb-4"
      #inputmatricula
      placeholder="introduce matricula"
    />
    <input
      [(ngModel)]="precio"
      type="number"
      class="form-control mb-4"
      #inputmatricula
      placeholder="introduce precio"
    />
    <select class="form-select mb-4" #selectmotor [(ngModel)]="motor">
      <option>Termico</option>
      <option>Electrico</option>
    </select>

    <button (click)="agregarCoche()" class="btn btn-primary">Agregar</button>

    @if (listado.length>0) {
    <p>El numero de coches es: {{ listado.length }}</p>
    }
  </div>
  <div class="col">
    <input
      class="form-control"
      type="text"
      placeholder="buscar por matriculoa"
      #inputmatricula
    />
    <select class="form-select" #selectmotor>
      <option>termico</option>
      <option>electrico</option>
    </select>

    <button class="btn btn-primary" (click)="buscarCoche(inputmatricula.value)">
      Buscar por matricula
    </button>
    <button
      class="btn btn-primary"
      (click)="buscarTipoMotor(selectmotor.value)"
    >
      Buscar por motor
    </button>
    @if (listaCocheBuscado.length>0) {
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">
          {{ listaCocheBuscado[0].getMatricula }}
        </h5>
      </div>
    </div>
    } @else { } @for (item of listadoCochesMotor; track $index) {
    <div class="card" style="width: 18rem">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h5 class="card-title">{{ item.getMarca }} {{ item.getModelo }}</h5>
      </div>
    </div>
    }
  </div>
</main>
